body {
    background-image: url(image/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.page {
    margin: auto;
    max-width: 540px;
    height: 100%;
}

.content{
    padding: 0 20px;
}

.navbar_ {
    width: 100%;
    height: 35px;
    background-color: #73AF3B;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}

.sub-nav {
    width: 50%;
    border: 1px solid #00447F;
    text-align: center;
    cursor: pointer;
    color: #00447F;
    font-weight: 500;
    box-shadow: -1px 3px 19px 0px rgba(0,0,0,0.61);
}

.active {
    background-color: #00447F;
    color: #fff;
}

.title-h5 {
    color: #fff;
    margin: 0 20px;
    font-size: 14px;
}

label {
    font-size: 11px;
}

table {
    font-size: 11px;
}

.card {
    /* opacity: 0.3; */
    background: rgba(76, 175, 80, 0.3);
    border: 2px solid #fff;
}

hr {
    background-color: #fff;
    height: 2px !important;
    opacity: 1;
}

.nav-item {
    cursor: pointer;
}

.card-body{
    color: black;
}

#kredit .active-nav{
    color: #00447F;
    font-size: 18px;
    font-weight: 900;
}
